build/
compile_commands.json
.cache/
src/kernel/.DS_Store
src/.DS_Store
include/kernel/.DS_Store
include/.DS_Store
.DS_Store
tools/mcopy.labfs
tools/mdir.labfs
tools/mdump.labfs
tools/mkfs.labfs
tools/LabFS-Lite
